@model CocukYazini.Models.Entity.categorytable
@{
    ViewBag.Title = "Yeni Kategori";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


    <br />
    <h4>Yeni Kategori Ekle</h4>
    <hr />
    <br />
    <form method="post">
        <div>
            <label>Kategori Adı </label>
            <input type="text" name="categoryname" required="required" class="form-control"/><br />
                                                         <label></label>  
                                                           <select name="isaktif" class="form-control">
                                                               <option value="1">Aktif Kategori</option>
                                                               <option value="2">Pasif Kategori</option>
                                                               
                                                           </select>






        </div>
        <div style="margin-top: 15px">
           <label></label> <button class="btn btn-info">Kategori Ekle</button>
        </div>

    </form>


