
@using CocukYazini.Models.Entity
@{
    ViewBag.Title = "ForgetPasswordEN";
    Layout = "~/Views/Shared/_Layout - EN.cshtml";
}
<section class="utf_block_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 mrb-40">
                <h3>I Forgot My Password</h3>
                <p>
                    By entering your e-mail address, you can set a new password.
                </p>
                <form method="post">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input class="form-control" placeholder="Email*" type="email" required name="usermail">
                            </div>
                        </div>

                    </div>
                    <div class="clearfix">
                        <button class="btn btn-primary" type="submit">Send New Password</button>
                    </div>
                </form>
            </div>


        </div>
    </div>
</section>