@using CocukYazini.Models.Entity
@{
    ViewBag.Title = "Şifremi Unuttum";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="utf_block_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 mrb-40">
                <h3>Şifremi Unuttum</h3>
                <p>E mail adresinizi girerek yeni şifre tanımlanmasını sağlayabilirsiniz. </p>
                <form method="post">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input class="form-control" placeholder="Email*" type="email" required name="usermail">
                            </div>
                        </div>
                       
                    </div>
                    <div class="clearfix">
                        <button class="btn btn-primary" type="submit">Yeni Şifre Gönder</button>
                    </div>
                </form>
            </div>

            
        </div>
    </div>
</section>