<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="footer-widget">
                    <h4>İletişime Geç</h4>
                    <div class="footer-widget-content">
                        <a href="mailto:sales@example.com" class="contact-link">mail 1</a>
                        <a href="mailto:support@example.com" class="contact-link red">mail 2 </a><br />
                        <a href="tel:0121234" class="contact-link">telefon belki wp</a>
                        <br /><br />
                        <div class="col-md-12">
                            <ul class="social">
                                <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                                <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="footer-widget">
                    <h4>Son Yazılar</h4>

                    <div class="footer-widget-content">
                        <div class="media">
                            <div class="media-left">
                                <img class="media-object" src="http://placehold.it/60x60" alt="...">
                            </div>
                            <div class="media-body">
                                <p></p>
                                <span>September 30, 2016 </span>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left">
                                <img class="media-object" src="http://placehold.it/60x60" alt="...">
                            </div>
                            <div class="media-body">
                                <p>vulputate velit esse consequat.</p>
                                <span>September 30, 2016 </span>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left">
                                <img class="media-object" src="http://placehold.it/60x60" alt="...">
                            </div>
                            <div class="media-body">
                                <p>vulputate velit esse consequat.</p>
                                <span>September 30, 2016 </span>
                            </div>
                        </div>



                    </div>

                </div>
            </div>
            <div class="col-sm-3">
                <div class="footer-widget">
                    <h4>Etkinlik</h4>
                    <div class="footer-widget-content">
                        <div class="open-time ">
                            <ul class="opening-time">
                                <li>
                                    <span><i class="fa fa-times"></i></span><p class="clock-time"><strong>monday :</strong> closed</p>
                                </li>
                                <li><span><i class="fa fa-check"></i></span><p><strong>tue-fri :</strong> 8am - 12am</p></li>
                                <li><span><i class="fa fa-check"></i></span><p><strong>sat-sun :</strong> 7am - 1am</p></li>
                                <li><span><i class="fa fa-check"></i></span><p><strong>holydays :</strong> 12pm-12am</p></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="footer-widget">
                    <h4>Kontak Form</h4>
                    <div class="footer-widget-content">
                        <div class="images-gellary">
                            <form action="@Url.Action("NewContact", "Home")" method="post">
                                <input type="text" placeholder="BAŞLIK" class="form-control form-control-sm" name="contacttitle" required="required" />
                                <textarea placeholder="MESAJINIZ" rows="3" cols="22" class="form-control form-control-sm" name="contactcontent" required="required"></textarea>
                                <input type="email" placeholder="E-Mail" class="form-control form-control-sm" name="email" required="required" />
                                <input type="text" placeholder="Kim Yazıyor?" class="form-control form-control-sm" name="whowrote" required="required" />


                                <button class="btn btn-primary">GÖNDER</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
