@model CocukYazini.Models.Entity.adtable
    @if(Model != null)
            {

        <a href="@Model.reklamurl" target="_blank"><img src="@Model.reklamphotourl" style="width:100%!important;"/></a>
            }
