
@{
    ViewBag.Title = "Hakkıızda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <style>


            #hakkimizda p {
                font-size: 17px;
            }

            .postheader {
                margin-left: 50px;
                font-size: 25px;
                font-display: auto;
                font-style: oblique;
                /*text-align:center;*/
                /*border-bottom:solid 2px;
        border-color:cornsilk;*/
                margin-top: -54px;
                color: coral;
            }
    </style>
    @*<h4 class="postheader">Hakkımızda</h4>*@
    <div style="margin:50px;" class="text-center">


        <div class="row">
            @*<div class="col-12">
                    <img src="~/Photos/aboutphotos/bnhakkimizda.png" style="width:70%!important">
                </div>*@

            <div class="col-12" id="hakkimizda">
                <br /><br />
                <p>
                    Çocuk Yazını projemiz, kitap tanıtım sayfalarının, yayınevi reklam metinlerinin, okur ve anne bloglarının, “çok beğendim, çok güzel kitap” diyen ama kitabın niçin güzel olduğunu derinlemesine izah etmeyen klişe metinlerinin aksine; çocuk yazınındaki “eleştiri” ihtiyacını hatırlatmak üzere doğdu. Amacımız, Türkçe edebiyatın içinde özerk bir alan olarak önemli yer tutan ve nitelikli eserlere sahip “çocuk yazını”na tıpkı yetişkin metinleri gibi eleştirel, tarafsız ve akademik perspektiften yaklaşmak.
                </p><br />

                <p>
                    Çocuk yazınının edebi niteliğini tartışmaya açmak “eleştiri” ile mümkün. Her ay yayımlanan çocuk yazını kitaplarının ve bu kitapların ulaştığı çocuk okurların sayısının yüz binlere ulaştığı düşünüldüğünde çocuk yazınında çağdaş Türkçe yetişkin edebiyatının duyduğu “eleştiri” ihtiyacından çok daha büyük bir yoksunluk ve boşluk göze çarpar.
                </p><br />

                <p>
                    İşte Çocuk Yazını projesi ile bu derin boşluğu doldurmaya talibiz!
                </p><br />

                <p>
                    Anlatı düzlemindeki türsel çeşitliliği de kapsayabilmesi için biz bu metinlere “çocuk edebiyatı” yerine “çocuk yazını” tasnifiyle yaklaşmayı daha uygun görüyoruz. Bu bağlamda Çocuk Yazını anlatımda 0-16 yaş okuru hedefleyen, hikâye, roman, şiir, tiyatro, söyleşi, biyografi, dizi, çizgi dizi, çizgi roman, film, animasyon filmi türlerinde yazılmış/yayımlanmış her tür metni yazar, yayınevi ve her tür ideolojiden bağımsız olarak incelediğimiz eleştirel metinler kaleme almaktadır. Bize göre “çocuklar için” yayımlanmış her tür metin çocuk yazını ile bağdaştırılabilir. Bu noktada incelediğimiz metinlerde tek kıstasımız anlatımında “çocuğa görelik” ilkesine uygunluğudur.
                </p><br />
                <p>
                    Tıpkı bir süreli yayın gibi belirli zaman dilimleri içerisinde sitemizin “Dosya”, “Kritik”, “SineMAsal” ve “Söyleşi” bölümlerimizde eleştirel makale ve videolarla alana katkı sağladığımız yayınlar bu yoldaki adımlarımızı sağlamlaştırıyor.
                </p><br />

                <p>
                    Biz bu alanda çalışmanın ve daha çok yazmanın öneminin farkındayız. Hedefimiz akademide de bu alanın ihtiyacına ilişkin farkındalık yaratmak ve  Türkiye’de bu alanda kürsülerinin açılması ve yaygınlaşması ihtiyacına dikkatleri çekmek.
                </p><br />
                <p>
                    Çocuklar için yazılıp çizilmiş her şeyin önemi konusunda sizleri de hassasiyet kazanmaya davet ediyoruz.

                </p>
                <br />
                <h4>Çocuk Yazını Ekibi</h4>


            </div>


        </div>
        @*<div class="row" style="margin-top:50px;">
                <div class="col-12 text-center">
                    <h2>
                        Ekibimiz</h2>
                        <hr />

                </div>

            </div>
            <div class="row text-center" style="margin-top:50px;">

                <div class="col-lg-3 col-xl-3"></div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                    <img src="~/Photos/aboutphotos/selva.jpg" width="200px" />

                    <h3>Selva İnce</h3>
                    <a href="#Selva" data-toggle="modal" style="font-size:20px;"><span class="glyphicon glyphicon-comment"> </span> Kimdir?</a>
                    <div id="Selva" class="modal fade">
                        <div class="modal-dialog modal-login">
                            <div class="modal-content">

                                <div class="modal-body" style="text-align:center;">
                                    <h4 class="modal-title">Selva İnce</h4>
                                    <img src="~/Photos/aboutphotos/selva.jpg" width="170px" />

                                    <br />
                                    Galatasaray’ın Neuchatel Xamax’ı 5-0 yenerek Şampiyonlar Ligi’nde tur atladığı o
                                    efsane maçın bitiş düdüğünde –en az İsviçre kadar yeşil bir kentte- dünyaya geldi. İlk
                                    gençliği mahalle arasında top kovalayarak geçti. Annesine öykünüp bir gecede bir
                                    defter dolusu şiir yazdı. Ancak yedi kadının ona tığla dolgu çekmeyi öğretmeye
                                    çalışırken saçlarını başlarını yoldukları o gün ne olmak istediğine karar verdi. (Yok,
                                    hayır, tabii ki şair olmadı!)
                                    Çocukken Kemalettin Tuğcu, La Fontaine, Sâdî, Enid Blyton okudu. Lise, medrese,
                                    üniversite, Türk Dili ve Edebiyatı Bölümü derken bir de oğlu oldu. Şimdilerde ise
                                    mezun olduğu Şehir Üniversitesinde okutman, Boğaziçi Üniversitesinde -yine aynı
                                    alanda- yüksek lisans öğrencisi, Reçelblog editörü, annesinin kızı, oğlunun annesi.
                                    (Yok, hayır, tabii ki futbolcu olmadı!)




                                </div>
                                <div class="modal-footer">

                                    <a href="mailto:meryemince@sehir.edu.tr"><span class="fa fa-envelope"></span></a>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 ">
                    <img src="~/Photos/aboutphotos/havva.jpg" width="200px" />
                    <h3>Havva Yılmaz</h3>


                    <a href="#havva" data-toggle="modal" style="font-size:20px;"><span class="glyphicon glyphicon-comment"> </span> Kimdir?</a>

                    <div id="havva" class="modal fade">
                        <div class="modal-dialog modal-login">
                            <div class="modal-content">

                                <div class="modal-body" style="text-align:center;">
                                    <h4 class="modal-title">Havva Yılmaz</h4>
                                    <img src="~/Photos/aboutphotos/havva.jpg" width="170px" />
                                    <p>
                                        <br />
                                        Ilık sonbahar esintilerinin yerini sert rüzgarlara bırakmaya başladığı bir Ekim sonu dünyaya gelmiş bulundu. Gelir gelmez pişman olmuştu. Hep somurttu. Hep sustu. Köşesine çekilip hırkasının ponponlarındaki iplikleri tek tek sökerek gün saydı, geri dönmeyi bekledi. Ama ne çare....
                                        “Madem dönüş yok, öyleyse hızlı koşayım” dedi ve kendisini okul kapısında buldu. Harflerle tanıştı, kelimeler, cümleler kurmayı öğrendi. Büyülendi!
                                        Peki ya sokaklar? Toprak sahanın çamurlarında pişirdiği oyuncak çömlekler... İki bahçe duvarı arasına gerdiği iple oynadığı voleybollar, yakar toplar, ortada sıçanlar... Kahkahalara karışan ebe-sobeler... Düşe kalka bisiklet yarışları... Çilekli dondurmalar, tuzlu çekirdekler, sade gazozlar.... Uçan balonlar, patlayan şekerler, leblebi tozları... Uçurtmalar... Bahçe piknikleri....
                                        Tam “burası o kadar da sıkıcı bir yer değilmiş aslında” diyecekken varoluş sancıları başladı. Sağa baktı, sola baktı; az gitti, uz gitti; dereye tepeye çıkamadan tosladı durdu sert duvarlara...
                                        “Yasak” diye bir süre üniversiteye gidemedi, bahçede aktivistçilik oynadı.
                                        Ama kitaplarla arası hiç bozulmadı. Okudu, okudu, okudu doyamadı.
                                        Siyaset okudu dünyayı tanıdı, sosyoloji okudu toplumu tanıdı, roman okudu insanları tanıdı, bol bol film izledi hayatı öğrendi.
                                        Kadıköy’ü sevdi tezini yazdı, sinemayı sevdi film eleştirisi yazdı, edebiyatı sevdi okuma grubu açtı, Safiye Erol’u sevdi yaza yaza bitiremedi...
                                        Entelektüel birikiminin çok büyük bir kısmını ŞEHİR ve BİSAV’da edindi. Bununla gurur duydu.
                                        Şimdilerde yıllar önce niyetlendiği bir hayalin peşine düştü, çocuk ve edebiyat bulmacasının eksik parçalarını tamamlamaya çalışıyor.

                                    </p>



                                </div>
                                <div class="modal-footer">

                                    <a href="mailto:infococukyazini@gmail.com"><span class="fa fa-envelope"></span></a>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-3 col-xl-3"></div>
            </div>

                <div class="row text-center" style="margin-top:50px;">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 ">
                        <img src="~/Photos/aboutphotos/azra.jpg" width="210px;" />
                        <br />
                        <h4 style="margin-top:25px;">Azra Çelik</h4>


                        <a href="#azra" data-toggle="modal" style="font-size:20px;"><span class="glyphicon glyphicon-comment"> </span> Kimdir?</a>
                        <div id="azra" class="modal fade">
                            <div class="modal-dialog modal-login">
                                <div class="modal-content">

                                    <div class="modal-body" style="text-align:center;">
                                        <h4 class="modal-title">Azra Çelik </h4>
                                        <img src="~/Photos/aboutphotos/azra.jpg" width="170px" />
                                        <p>
                                            <br />
                                            Yugoslav göçmeni ve Türkçeyi doğru düzgün konuşamayan büyük bir ailenin 1992’de İstanbul’da doğan ilk kuşak üyelerinden biri olarak çift dilli bir evde büyüdü. Hiç Türkçe masal dinlemediyse de sonradan çok Türkçe masal okudu. Gazeteden Ayşegül serisi toplayan bir neslin çocuğu olarak amcasının kütüphanesindeki ansiklopediler ve bilim dergilerine dalıp hayaller kurmak en büyük alışkanlığıydı. Gülten Dayıoğlu’nun kitaplarına sevdası da o yıllarda başladı. Yine aynı yıllarda “Kemalettin Tuğcu öyküleri okuyup ağlayanlar” kulübüne katıldı. Böylece melodrama ilk adımı atmış oldu. İlk ve ortaokulu Pendik’te bitirdi. Para biriktirince bakkala değil kitapçısı Oya Abla’ya çok gittiğinden olacak okulda takılan klişe lakaplardan “kitap kurdu” ve “imla kılavuzu”yla anıldı. Kitap tozuna alerjisi yüzünden okul kütüphanesini bolca hapşırıklarıyla inletmişliği vardır. On iki yaşında Çalıkuşu’nu okuyup bitirince yaz tatillerinde TRT’de sabah 4’te yayınlanan dizisini izlemek için saat kurardı. Aynı yıllarda tüm engelleme çalışmalarına karşın Taaşşuk-ı Talat ve Fitnat’ı okumak için sabah namazından sonra uyumayıp gizlice kitabı bitirdiğinde içlenip ağlamasıyla melodramda ihtisasını tamamladı ve Tanzimat metinlerine “aşkı” başladı. Aynı yıllarda eş zamanlı olarak İpek Ongun kitaplarını da yalayıp yutardı. Kadıköy’de liseyi okuduğu yıllarda sahafları gezmeyi âdet edindi. Bolca hapşırmaya ve arşiv mahiyetindeki belgelerin peşinde gezmeye devam etti. Sinema Televizyon öğrencisi olarak girdiği İstanbul Şehir Üniversitesi’nde kitap aşkı bu kez modern edebiyata depreşince Türk Dili ve Edebiyatı öğrencisi olarak mezun oldu. O yıllarda melodrama gülme kabiliyeti edindi. Evlendi. Bir süre Everest’le “imla kılavuzu” olarak çalıştı. Hâlen Tanzimat metinleri peşinde Boğaziçi Üniversitesi’nde yüksek lisans yapıyor. İstanbul Şehir Üniversitesi’ndeki öğrencilerine ise Türkçe edebiyatı sevdirmeye çalışıyor. Kütüphane ve arşivlerde hâlen bolca geziyor ve hapşırıyor.
                                        </p>



                                    </div>
                                    <div class="modal-footer">
                                        <a href="mailto:psk.esraozcan@gmail.com"><span class="fa fa-envelope"></span></a>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                        <img src="~/Photos/aboutphotos/esra.jpg" width="170px;" />
                        <br />
                        <h4>Esra Özcan</h4>


                        <a href="#Esra" data-toggle="modal" style="font-size:20px;"><span class="glyphicon glyphicon-comment"> </span> Kimdir?</a>
                        <div id="Esra" class="modal fade">
                            <div class="modal-dialog modal-login">
                                <div class="modal-content">

                                    <div class="modal-body" style="text-align:center;">
                                        <h4 class="modal-title">Esra Özcan </h4>
                                        <img src="~/Photos/aboutphotos/esra.jpg" width="170px" />
                                        <p>
                                            <br />
                                            Memur bir baba ve ev hanımı bir annenin ortanca çocuğu olarak 1991 yılının Şubat ayında Birinci Körfez Savaşı’nın resmen bitiminden bir gün önce Malatya’da dünyaya geldi. Aslında üniversite sınavına kadar hep sayısal bir bölüm okumak istedi. Sayısal çıkışlı da olsa edebiyatla gönül bağını hep güçlü tuttu. Psikolojiye olan ilgisi hayatında yaşadığı bazı dönüm noktalarıyla başlayınca yeni bir hayalle buluştu ve her şeyi geride bırakarak İstanbul Şehir Üniversitesi Psikoloji Bölümüne yazıldı. Eğitimini çeşitli gönüllülük faaliyetleriyle desteklerken özellikle çocuklarla çalışma fırsatı buldu. Lisans hayatını tamamladıktan sonra iki yıl idarecilik kariyeri yaptı. Şu sıralar Üsküdar Üniversitesinde Klinik Psikoloji alanında yüksek lisans yapmakta aynı zamanda kamu sektöründe psikolog olarak çalışma hayatına devam etmektedir.
                                        </p>



                                    </div>
                                    <div class="modal-footer">
                                        <a href="mailto:psk.esraozcan@gmail.com"><span class="fa fa-envelope"></span></a>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                        <img src="~/Photos/aboutphotos/melike.JPG" height="250px;" />
                        <br />
                        <h4>Melike Ergün Topcu</h4>


                        <a href="#Melike" data-toggle="modal" style="font-size:20px;"><span class="glyphicon glyphicon-comment" > </span> Kimdir?</a>
                        <div id="Melike" class="modal fade">
                            <div class="modal-dialog modal-login">
                                <div class="modal-content">

                                    <div class="modal-body" style="text-align:center;">
                                        <h4 class="modal-title">Melike Ergün Topcu</h4>
                                        <img src="~/Photos/aboutphotos/melike.JPG" width="170px" />
                                        <p>
                                            <br />
                                            1991 yılının ilk ayında okumayı ve yazmayı çok seven bir ailenin ilk çocuğu olarak Üsküdar'da dünyaya geldi. Çocukluğundan beri devasa kitap yığınları arasında yaşadığından ilk okumaya başladığı ve kendince not almaya başladığı kitap çocuk gelişim aşamalarının basit çizimlerle anlatıldığı bir eğitici kitap oldu. Kitapların sınırları ona göre boyunun erişebildiği kitaplık rafları olduğundan her zaman üst seviyede kitapları merak etti. Eğitim hayatı İstanbul Şehir Üniversitesi Hukuk Fakültesi'nde şekillendi ve bireylerin farklı ilgi alanları olmasının heyecan verici olduğuna inandı. Kendisi, Hukuk bölümünde akademik kariyerine meslek olarak da devam ederken aynı zamanda kıdemli bir Çocuk Gelişimi öğrencisi.
                                        </p>



                                    </div>
                                    <div class="modal-footer">

                                        <a href="mailto:melike.ergun.91@gmail.com"><span class="fa fa-envelope"></span></a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                        <img src="~/Photos/aboutphotos/efe.png" height="250px;" />
                        <br />
                        <h4>İbrahim Efe Topcu</h4>


                        <a href="#Efe" data-toggle="modal" style="font-size:20px;"><span class="glyphicon glyphicon-comment"> </span> Kimdir?</a>
                        <div id="Efe" class="modal fade">
                            <div class="modal-dialog modal-login">
                                <div class="modal-content">

                                    <div class="modal-body" style="text-align:center;">
                                        <h4 class="modal-title">İbrahim Efe Topcu</h4>
                                        <img src="~/Photos/aboutphotos/efe.png" width="170px" />
                                        <p>
                                            <br />
                                            1992 yılında Beykoz'da dünyaya gelerek, çoğu erkek çocuk gibi okuma hayatına Beyaz Diş ile başlamıştır. Bilgisayar ve internet erişiminin gençlik zamanlarına denk gelmesi ile başlayan bilgisayar merakı onu ilk zamanlardan itibaren web tasarım ile başlayan kariyerine yöneltti. Bilgisayar oyunu merakı olan çoğu ergen için en azından mesleği olur dileğinin somutlaşmış halidir. Her aşamasında kendisine farklı yetenekler kazandırarak elde ettiği kariyerinde küçük bir yazılımcı ama gerçek bir oyun adamıdır.
                                        </p>



                                    </div>
                                    <div class="modal-footer">

                                        <a href="mailto:info@efetopcu.com"><span class="fa fa-envelope"></span></a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@









        <div>
            <div style="clear:left;" height="100px;"></div>
        </div>


    </div>

</div>
