
@using CocukYazini.Models.Entity
@{
    ViewBag.Title = "Inquiry";
    Layout = "~/Views/Shared/_Layout - EN.cshtml";
}
<section class="utf_block_wrapper pb-top-0">
    <div class="container">
        <div class="row">
            @foreach (var sorusturma in Model)
            {
                <div class="col-lg-6 col-md-12 mt-5">
                    <div class="block color-orange">
                        <a href="@Url.Action("SorusturmalarEN", "Sorusturma", new {id = sorusturma.id})">

                            <h3 class="utf_block_title"><span>@sorusturma.sorusturmaname</span></h3>


                        </a>
                        <a href="@Url.Action("SorusturmalarEN", "Sorusturma", new {id = sorusturma.id})">
                            <img src="@sorusturma.sorusturmaphotourl" style="width:100%" />

                        </a>



                    </div>
                </div>

            }



        </div>
    </div>
</section>

